<template>
  <section
    id="speakabout"
    class="row"
  >
    <b-container class="my-5 text-center">
      <h2 v-html="$t('home.speakabout.title')"></h2>
      <ul class="list-inline">
        <li
          v-for="(media, index) in $t('home.medias')"
          :key="index"
          class="list-inline-item fb-0"
        >
          <a :href="media[0]">
            <img
              :alt="media[2]"
              :src="`${$t('baseurl')}img/medias/${media[1]}`"
            />
          </a>
        </li>
      </ul>
      <p>
        <router-link
          class="btn btn-light btn-lg"
          :to="`/${$t('lang')}/medias`"
          v-html="$t('home.speakabout.btn')"
        />
      </p>
    </b-container>
  </section>
</template>

<style lang="scss">
#speakabout {
  background:var(--f-g8);

  .container {
    background:var(--f-g8);
    box-shadow: none;
  }

  a:not(.btn) {
    color: #fff;
    border: none;
    font-size: 16px;
  }

  h2 {
    color: #fff;
    margin-bottom: 20px;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    margin: 5px;
  }
}
</style>
